/* Thu nhỏ sidebar */
.md-sidebar {
    flex: 0 0 15% !important;
    max-width: 200px !important;
}

/* Mở rộng phần nội dung */
.md-content {
    flex: 1 1 auto !important;
    max-width: 90% !important;
}

/* Thu hẹp padding của container */
.md-container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
