/* Điều chỉnh độ rộng tối đa và padding của container */
.md-container {
    max-width: 100% !important; /* Sử dụng toàn bộ chiều rộng màn hình */
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/* Điều chỉnh margin của phần nội dung */
.md-content {
    margin: 0 auto !important; /* Đặt nội dung ở giữa */
    padding: 20px !important; /* Điều chỉnh padding */
}

